body {
  background: none;
}

p {
  color: black;
}

.nav-wrapper {
  margin-left: 25%;
  margin-right: 25%;
}

nav {
  background: #8bc34a;
}

.card {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-rev {
  display: flex;
  flex-direction: row-reverse;
}

.row .col.m7 {
  width: inherit;
}

.abtcontain {
  margin-top: 1em;
  border: .1em solid black;
  border-radius: .4em;
  justify-content: right;
}

.abtcontain img {
  margin: 1em;
  float: left;
}

.abtcontain p {
  margin: .5em;
}

.abt-text {
  display: flex;
  justify-content: flex-end;
}

.contact-block {
  margin-top: 1em;
  width: 65vh;
  height: 20vh;
  border: .1em solid black;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
}

.abt-links {
  display: flex;
  flex-direction: column;
}

.chip {
  width: 14vw;
}

.page-footer {
  background: #8bc34a;
  padding-top: 0em;
}

.rowboat {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px grey;
  background: #ffffff;
  padding: none;
  margin: 3em 0em 1em 0em;
  border-radius: 15px 30px 0px 15px;
}

.rowboat img {
  margin: 0em 0em 0em 0em;
  padding: 5px 5px 5px 5px;
  border-radius: 1em;
}

.row .col {
  padding: 0em;

}

.card-content {
  margin: 0.2em;
}

.card-content p {
  border-bottom: 1px solid grey;
  margin: 1em;
}

.card-content .card-action {
  margin: 1em;
}

.rowboat-rev {
  flex-direction: row-reverse;
  border-radius: 30px 15px 15px 0px;
}