body {
  background: rgb(244, 255, 244);
}

p {
  color: black;
}

.nav-wrapper {
  margin-left: 25%;
  margin-right: 25%;
}

nav {
  background: #8bc34a;
}

.card {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0;
}

.card-rev {
  display: flex;
  flex-direction: row-reverse;
}

.row .col.m7 {
  width: inherit;
}

.abtcontain {
  width: 60%;
  margin-top: 1em;
  border-radius: .4em;
  text-align: center;
}

.abtcontain img {
  float: left;
  margin: 1em 1em 0em 1em;
  max-width: 35%;
}

.abtcontain p {
  margin: .5em;
  text-align: left;
  font-size: 1.2em;
  text-indent: 2em;
}


.abt-text {
  display: flex;
  justify-content: flex-end;
}

.contact-block {
  margin-top: 1em;
  width: 65vh;
  height: 20vh;
  border: .1em solid black;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
}

.abt-links {
  display: flex;
  flex-direction: column;
}

.chip {
  width: 14vw;
}

.page-footer {
  background: #8bc34a;
  padding-top: 0em;
}

.row {
  margin-bottom: 0px;
}

.rowboat {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px grey;
  background: #ffffff;
  padding: none;
  margin: 3em 0em 1em 0em;
  border-radius: 15px 30px 0px 15px;
}

.rowboat img {
  margin: 0em;
  padding: 5px 5px 5px 5px;
  border-radius: 1em;
}

.row .col {
  padding: 0em;

}

.card-content {
  margin: 0.2em;
}

.card-content p {
  border-bottom: 1px solid grey;
  margin: 1em;
}

.card-content .card-action {
  margin: 1em;
}

.rowboat-rev {
  flex-direction: row-reverse;
  border-radius: 30px 15px 15px 0px;
}

.page-footer {
  margin-top: 1em;
  padding-top: .5em;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: 0%; }
  }
  
  body {
    margin: 0; 
  }
  
  div#slider { 
    overflow: hidden; 
    margin: 1em 0em 1em 0em;
  }
  div#slider figure img {
    width: 20%; float: left;
  }

  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 24s slidy infinite; 
  }
  
  #slider figure {
    display: flex;
    align-items: center;
  }
